@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
@import url("./header.css");
@import url("./stories.css");
@import url("./card.css");

html {
  font-size: 10px;
}

body {
  padding-top: 56px;
  font-family: "Open Sans", sans-serif;
  background-color: #fafafa;
  color: #000000;
}

button {
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

*,
*:after,
*:before {
  list-style: none;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 728px) {
  .container {
    width: 728px;
  }
}
